<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianshu.system.mapper.SysFeishuUserMapper">
    
    <resultMap type="SysFeishuUser" id="SysFeishuUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="unionId"    column="union_id"    />
        <result property="openId"    column="open_id"    />
        <result property="name"    column="name"    />
        <result property="avatar"    column="avatar"    />
        <result property="nickname"    column="nickname"    />
        <result property="email"    column="email"    />
        <result property="mobile"    column="mobile"    />
        <result property="gender"    column="gender"    />
        <result property="departmentIds"    column="department_ids"    />
        <result property="leaderUserId"    column="leader_user_id"    />
        <result property="city"    column="city"    />
        <result property="country"    column="country"    />
        <result property="workStation"    column="work_station"    />
        <result property="joinTime"    column="join_time"    />
        <result property="isTenantManager"    column="is_tenant_manager"    />
        <result property="employeeNo"    column="employee_no"    />
        <result property="jobTitle"    column="job_title"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysFeishuUserVo">
        select id, user_id, union_id, open_id, name, avatar, nickname, email, mobile, gender, department_ids, leader_user_id, city, country, work_station, join_time, is_tenant_manager, employee_no, job_title, create_by, create_time, update_by, update_time, remark from sys_feishu_user
    </sql>

    <select id="selectSysFeishuUserList" parameterType="SysFeishuUser" resultMap="SysFeishuUserResult">
        <include refid="selectSysFeishuUserVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="unionId != null  and unionId != ''"> and union_id = #{unionId}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="departmentIds != null  and departmentIds != ''"> and department_ids = #{departmentIds}</if>
            <if test="leaderUserId != null  and leaderUserId != ''"> and leader_user_id = #{leaderUserId}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="workStation != null  and workStation != ''"> and work_station = #{workStation}</if>
            <if test="joinTime != null "> and join_time = #{joinTime}</if>
            <if test="isTenantManager != null "> and is_tenant_manager = #{isTenantManager}</if>
            <if test="employeeNo != null  and employeeNo != ''"> and employee_no = #{employeeNo}</if>
            <if test="jobTitle != null  and jobTitle != ''"> and job_title = #{jobTitle}</if>
        </where>
    </select>
    
    <select id="selectSysFeishuUserById" parameterType="Long" resultMap="SysFeishuUserResult">
        <include refid="selectSysFeishuUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysFeishuUser" parameterType="SysFeishuUser">
        insert into sys_feishu_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="unionId != null">union_id,</if>
            <if test="openId != null">open_id,</if>
            <if test="name != null">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="nickname != null">nickname,</if>
            <if test="email != null">email,</if>
            <if test="mobile != null">mobile,</if>
            <if test="gender != null">gender,</if>
            <if test="departmentIds != null">department_ids,</if>
            <if test="leaderUserId != null">leader_user_id,</if>
            <if test="city != null">city,</if>
            <if test="country != null">country,</if>
            <if test="workStation != null">work_station,</if>
            <if test="joinTime != null">join_time,</if>
            <if test="isTenantManager != null">is_tenant_manager,</if>
            <if test="employeeNo != null">employee_no,</if>
            <if test="jobTitle != null">job_title,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="unionId != null">#{unionId},</if>
            <if test="openId != null">#{openId},</if>
            <if test="name != null">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="email != null">#{email},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="gender != null">#{gender},</if>
            <if test="departmentIds != null">#{departmentIds},</if>
            <if test="leaderUserId != null">#{leaderUserId},</if>
            <if test="city != null">#{city},</if>
            <if test="country != null">#{country},</if>
            <if test="workStation != null">#{workStation},</if>
            <if test="joinTime != null">#{joinTime},</if>
            <if test="isTenantManager != null">#{isTenantManager},</if>
            <if test="employeeNo != null">#{employeeNo},</if>
            <if test="jobTitle != null">#{jobTitle},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysFeishuUser" parameterType="SysFeishuUser">
        update sys_feishu_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="departmentIds != null">department_ids = #{departmentIds},</if>
            <if test="leaderUserId != null">leader_user_id = #{leaderUserId},</if>
            <if test="city != null">city = #{city},</if>
            <if test="country != null">country = #{country},</if>
            <if test="workStation != null">work_station = #{workStation},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
            <if test="isTenantManager != null">is_tenant_manager = #{isTenantManager},</if>
            <if test="employeeNo != null">employee_no = #{employeeNo},</if>
            <if test="jobTitle != null">job_title = #{jobTitle},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysFeishuUserById" parameterType="Long">
        delete from sys_feishu_user where id = #{id}
    </delete>

    <delete id="deleteSysFeishuUserByIds" parameterType="String">
        delete from sys_feishu_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>