<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianshu.system.mapper.SysMessageMapper">
    
    <resultMap type="SysMessage" id="SysMessageResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="approval"    column="approval"    />
        <result property="sendTime"    column="send_time"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="detail"    column="detail"    />
        <result property="status"    column="status"    />
        <result property="businessType"    column="business_type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysMessageVo">
        select id, type, approval, send_time, user_id, title, detail, status, business_type, del_flag, create_by, create_time, update_by, update_time, remark from sys_message
    </sql>

    <select id="selectSysMessageList" parameterType="SysMessage" resultMap="SysMessageResult">
        <include refid="selectSysMessageVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="approval != null  and approval != ''"> and approval = #{approval}</if>
            <if test="sendTime != null "> and send_time = #{sendTime}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
        </where>
    </select>
    
    <select id="selectSysMessageById" parameterType="Long" resultMap="SysMessageResult">
        <include refid="selectSysMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysMessage" parameterType="SysMessage" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">type,</if>
            <if test="approval != null and approval != ''">approval,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="detail != null and detail != ''">detail,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="businessType != null and businessType != ''">business_type,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">#{type},</if>
            <if test="approval != null and approval != ''">#{approval},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="detail != null and detail != ''">#{detail},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="businessType != null and businessType != ''">#{businessType},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysMessage" parameterType="SysMessage">
        update sys_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="approval != null and approval != ''">approval = #{approval},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="businessType != null and businessType != ''">business_type = #{businessType},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysMessageById" parameterType="Long">
        delete from sys_message where id = #{id}
    </delete>

    <delete id="deleteSysMessageByIds" parameterType="String">
        delete from sys_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>